<div class='devise'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form mb-2' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: 'input' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'input' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password #{' (minimum 6 characters)' if @minimum_password_length}", class: 'input' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: 'input' %>
    </div>

    <div class="actions p-2">
      <%= f.submit "Sign up", class: 'btn btn_primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
