<% if !current_page?(root_path) %>
  <nav class='nav flex flex-column py-2 px-1'>
    <ul class='nav_links flex flex-jc-sb flex-ai-c'>
      <li>
        <% if current_page?(categories_path) %>
          <%= link_to destroy_user_session_path, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'nav_link' do %>
            <i class="material-icons">menu</i>
          <% end %>
        <% elsif current_page?(new_user_session_path) %>
          <%= link_to root_path, class: 'nav_link' do %>
            <i class="material-icons">west</i>
          <% end %>
        <% else %>
          <%= link_to categories_path, class: 'nav_link' do %>
            <i class="material-icons">west</i>
          <% end %>
        <% end %>
      </li>

      <li class='nav_title'>
        <%= current_page_title %>
      </li>

      <li>
        <%= link_to '#', class: 'nav_link' do %>
          <i class="material-icons">search</i>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>