<!DOCTYPE html>
<html>
  <head>
    <title>BudgetTrail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app">
      <header class="header">
        <%= render "shared/nav" %>
      </header>

      <%= render "shared/flashes" %>
      
      <main class="main">
        <%= yield %>
      </main>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
